/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom CSS */

body {
  font-family: Arial, sans-serif;
  background: rgb(181, 137, 214);
}

/* Centered navigation */
#main-navbar {
  background-color: blue;
  overflow: hidden;
  text-align: center;
}

#navbar-container {
  width: 100%;
}

#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

#main-navbar ul li {
  display: inline-block;
}

#main-navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: red; /* Text color set to red */
  text-decoration: none;
}

#main-navbar ul li a:hover {
  background-color: #000;
}

/* Styling for active page */
#onpage {
  font-style: italic;
  font-weight: bold;
  font-family: cursive;
  text-decoration: none;
}

/* Styling for Google, LinkedIn, and Basecamp links */
#sidebar-container ul li a.Google,
#sidebar-container ul li a.LinkedIn,
#sidebar-container ul li a.Basecamp {
  font-weight: bold;
  color: blue;
}

/* Side navigation */
#sidebar {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9); /* Light color for better contrast */
  height: 100%;
  width: 20%;
  overflow-y: auto; /* Enable vertical scrolling */
  right: 0; /* Align the sidebar to the right */
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
}

#sidebar ul li a {
  display: block;
  padding: 15px 0;
  color: #000; /* Text color */
  text-decoration: none; /* Remove underlines */
}

#sidebar ul li a:hover {
  background-color: #ddd; /* Light grey on hover for better visibility */
}
