/* Navigation */
#main-navbar {
  background-color: blue;
  overflow: hidden;
  float: left;
  width: 100%;
  position: relative;
}

#navbar-container {
  width: 100%;
}

#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#main-navbar ul li {
  display: block;
  float: left;
  position: relative;
  right: 50%;
}

#main-navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: underline overline;
  background-color: #000;
  text-decoration: none;
}

#main-navbar ul li a:hover {
  background-color: #000;
}

/* Sidebar */
#sidebar {
  position: fixed;
  background-color: red;
  height: 100%;
  width: 20%;
  overflow-y: auto;
  right: 0;
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

#sidebar ul li a {
  display: block;
  padding: 15px 0;
  color: #fff;
  text-decoration: none;
  background-color: #000;
}

#sidebar ul li a:hover {
  background-color: #ddd;
}

